[Unit]
Description=Chores Backend
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/chores_app/current/backend
ExecStart=/opt/chores_app/current/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
